//@param material [Material] an instance of Material to render the form for.
.grid_100.has-text-centered
  = simple_form_for pt_resource,  html: { class: "form-horizontal center"},  input_html: {  } do  |f|
    = f.input :category, placeholder: "Category", label: true
    = f.input :menu_id, placeholder: "Menu Id", label: true
    = f.input :title , placeholder: "Title", label: true
    = f.input :body, placeholder: "Body", label: true, :rows => 30
    = f.input :link, placeholder: "Link", label: true
    = f.input :active, as: :boolean, checked_value: true, unchecked_value: false
    .button-padding.txt_center
      = link_to "Back to index",  pt_resources_path, class: "btn btn-default"
      = f.submit "Submit", class: "btn btn-info"
