.container
  = simple_form_for pt_resource,  html: { class: "form-horizontal center"},  input_html: {  } do  |f|
    .row
      .col-lg-12
        .form-group
          = f.input :category, collection: PtResource::CATEGORY_LIST,label: false,  prompt: "Select Category"
    .row
      .col-lg-12
        .form-group
          = f.input :menu_id, collection: PtResource.getMenues, label: false, prompt: "Select Menu"
    .row
      .col-lg-12
        .form-group
          = f.input :title , placeholder: "Title", label: 'Title'
    .row
      .col-lg-12
        .form-group
          = f.input :body, placeholder: "Body", label: 'Content',:input_html => {:rows => 20}
    .row
      .col-lg-12
        .form-group
          = f.input :image, placeholder: "Image", label: 'Image'
    .row
      .col-lg-12
        .form-group
          = f.input :link, placeholder: "Link", label: 'Link'
    .row
      .col-lg-4
        .form-group
          = f.input :active,  as: :boolean
      .col-lg-4
        .form-group
          = f.input :public,  as: :boolean

      .col-lg-4
        .form-group
          = f.input :isnew,  as: :boolean
    .row
      .col-lg-12
        .form-group
          = f.submit "Submit", class: "btn btn-info"
          = link_to "Back to index",  pt_resources_path, class: "btn btn-default"
