%section.blog.grid.section
  .container
    .row
      .col-lg-8.col-12
        .row
          - @pt_resource.each do |a|
            .col-lg-6.col-md-6.col-12
              .single-news
                .news-head
                  %img.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}blogs/" +  a["image"].downcase}
                  .news-body
                    .news-content
                      .date 
                        = a.updated_at.strftime("%m/%d/%Y")
                      %h2
                        %a{:href => "#"} 
                          - if a.public #opens a blank window with the blog
                            = link_to a.title, pt_resource_with_title_path(a, :title => a.title), :target =>  "_blank"
                          - else
                            = link_to a.title, pt_resource_with_title_path(a, :title => a.title)
                        %p.text 
                        .b-0.border-top{:id => "pt_resource#{a.id}"}
              -if user_signed_in? && current_user[:role]=="admin"  
                = link_to "Show",pt_resource_path(a)
                |
                = link_to "Edit", edit_pt_resource_path(a)
                |
                = link_to "Delete", pt_resource_path(a), :method => :DELETE, data: {confirm: "Are you sure to delete?"}
        .row
          .pagination
            %ul.pagination-list
              = will_paginate @pt_resource, renderer: BootstrapPagination::Rails  

      .col-lg-4.col-12
        .main-sidebar
          = render partial: "search_blog"
          = render partial: "recent_blog"
          = render partial: "blog_categories"
