.grid_100.is-border-top.is-border-bottom.is-marginless.title_section.title_resources
  = render partial: "/layouts/breadcrumb_body" 

.grid_100.has-text-justified.is-margin-top-2
  .container
    - if current_user.try(:admin?)
      .panel-heading
        = link_to "Add new Resource", new_pt_resource_path, class: "btn btn-info"
        = link_to "Exit Admin", pt_resources_dismiss_admin_path, class: "btn btn-danger"
    .table-responsive
      %table#article.table.table-bordered.table-hover
        %thead
          %tr
            %th Title
            %th Created At

            - if current_user.try(:admin?)
              %th Action
        %tbody
          - @pt_resource.each do |a|
            %tr{:id => "pt_resource#{a.id}"}
              %td
                = link_to a.title, pt_resource_with_title_path(a, :title => a.title)
              %td
                = a.updated_at.strftime("%m/%d/%Y")
              - if current_user.try(:admin?)
                %td
                  = link_to "Show",pt_resource_path(a)
                  |
                  \#{link_to "Edit", edit_pt_resource_path(a)}
                  |
                  \#{link_to "Delete", pt_resource_path(a), :method => :DELETE, data: {confirm: "Are you sure to delete?"}}
                  
