.container
  = simple_form_for question,  html: { class: "form-horizontal center"},  input_html: {  } do  |f|
    .row
      .col-lg-12
        .form-group
          = f.association :categories, collection: Category.is_diagnostic, label: false, prompt: "select a category"
      .col-lg-12
        .form-group
          = f.input :question, placeholder: "Question", lable: false
      .col-lg-6
        .form-group
          = f.input :q_type, collection: DiagnoQuestion::TYPE_LIST, label: false, prompt: "select a Type", label: false

      .col-lg-6
        .form-group
          = f.input :sex, collection: DiagnoQuestion::SEX_LIST, label: false, prompt: "select a sex", label: false

      .col-lg-6
        .form-group
          = f.input :active,  as: :boolean, checked_value: true, unchecked_value: false, label: "Active"
      .col-lg-6
        .form-group
          = f.submit "Submit", class: "btn btn-info"
