%section.services.section
  .container
    .row
      .col-lg-12
        .section-title
          %h2
            Frequently Asked Questions 
          %img{src: "/assets/section-img.png", alt: "#"}
          %p We are trying our best to be accessible to our patients. Find your questions that your would like to ask us below and if you can't find it, please contact us.

%section.faq-area.section
  .col-lg-12
    .container
      #Answer.accordion
        - @qna_list.each do |appnt|
          .accordion-item.wow.fadeInUp
            .accordion-header{:id => "heading#{appnt.id}"}
              %a.accordion-button.collapsed{"aria-controls" => "collapse#{appnt.id}", "aria-expanded" => "false", "data-bs-target" => "#collapse#{appnt.id}", "data-bs-toggle" => "collapse", :type => "button"}
                %b.text-navy Q &nbsp;&nbsp;
                = appnt.question
            .accordion-collapse.collapse{"id" => "collapse#{appnt.id}", "aria-labelledby" => "heading#{appnt.id}", "data-bs-parent" => "#Answer"}
              .accordion-body
                =  appnt.answer.html_safe

