-if user_signed_in? && current_user[:role]=="admin"  
  = render partial: "/layouts/admin_menu" 
  = will_paginate @qna_list, renderer: BootstrapPagination::Rails  

  .container
    .table-responsive
      %tbody
        - @qna_list.each do |a|
          %tr{:id => "qna_list#{a.id}"}
            %td
              %hr
              %h3.is-5
                Q.
                = link_to a.question, edit_questions_and_answer_path(a)
          %tr{:id => "qna_list#{a.id}"}
            %td
              .grid_90.is-margin-top-2
                %h3.is-6
                  = link_to a.answer.html_safe, edit_questions_and_answer_path(a)

          %tr
            %td.has-text-centered
              .grid_90.is-margin-top-2.has-text-centered
                %h3.is-6
                  = a.created_at.strftime("%m/%d/%Y") 
                  = a.updated_at.strftime("%m/%d/%Y")
          %tr
            %td.has-text-centered
              .grid_90.is-margin-top-2.has-text-centered
                = link_to "Edit", edit_questions_and_answer_path(a),  class: "btn btn-info"
                = link_to "Delete", questions_and_answer_path(a),  class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure to delete?"}
- else
  = render partial: "qna_table"
