= render partial: "/layouts/admin_menu" 

-if user_signed_in? && current_user[:role]=="admin"  
  = will_paginate @qna_list, renderer: BootstrapPagination::Rails  

  .container
    .col-lg-12
      %tbody
        - @qna_list.each do |a|
          %tr{:id => "qna_list#{a.id}"}
            %td
              %hr
              %p
                Q.
                = link_to a.question, edit_questions_and_answer_path(a)
          %tr{:id => "qna_list#{a.id}"}
            %td
              %p
                = link_to a.answer.html_safe, edit_questions_and_answer_path(a)

          %tr
            %td.has-text-centered
              %p
                Created At: 
                = a.created_at.strftime("%m/%d/%Y") 
              %p
                Updated At: 
                = a.updated_at.strftime("%m/%d/%Y")
          %tr
            %td.has-text-centered
              = link_to "Edit", edit_questions_and_answer_path(a),  class: "btn btn-info"
              = link_to "Delete", questions_and_answer_path(a),  class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure to delete?"}
- else
  = render partial: "qna_table"
