.grid_100.is-border-top.is-border-bottom.is-marginless.admin_title_section.title_201
  .center.container
    %div.breadcrumb-box
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
          %li.breadcrumb-item
            Admin / Users      
          %li.breadcrumb-item.active{"aria-current" => "page"} 
    %div.title-box
      %h1.page-title
        User List

.grid_100.has-text-justified.is-margin-top-2
  .container
    .panel-heading
      = link_to "Add new Resource", new_user_path, class: "btn btn-info"
      = link_to "Exit Admin", pt_resources_dismiss_admin_path, class: "btn btn-danger"
    .table-responsive
      %table#article.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th Role
            %th Email
            %th Created At
            %th Action
        %tbody
          - @users.each do |a|
            %tr{:id => "users#{a.id}"}
              %td
                = link_to a.fullname, user_path(a)
              %td
                = a.role
              %td
                = a.email
              %td
                = a.updated_at.strftime("%m/%d/%Y")
                %td
                  = link_to "Show",user_path(a)
                  |
                  \#{link_to "Edit", edit_user_path(a)}
                  |
                  \#{link_to "Delete", user_resource_path(a), :method => :DELETE, data: {confirm: "Are you sure to delete?"}}
                  
