.grid_100.has-text-justified.is-margin-top-2
  .container
    %div.title-box
      %h1.is-3.has-text-centered
        USER PROFILE

    %div.grid_subtitle.has-text-centered
      = @user.fullname
      %div.has-text-right
        = link_to "go back to list",'javascript:history.back()', class: "btn btn-outline-secondary btn-sm"
    %div.grid_100.is-3.has-text-centered
      Name:
      = @user.fullname
      %br
      EMAIL:
      = @user.email

      %br
      ROLE:
      = @user.role
