= render partial: "/layouts/home_natural_healing", formats: :html

= render partial: "/layouts/home_services", formats: :html
= render partial: "/layouts/home_testimonials", formats: :html
= render partial: "/layouts/home_conditions", formats: :html
= render partial: "/layouts/home_conditions", formats: :html


 
