.contact-us-form
  %h2 Contact With Us
  %p If you have any questions please fell free to contact with us.

  - flash.each do |message_type, message|
    %div{:class => "alert alert-#{message_type}"}= message
  = simple_form_for contact_list,  html: { },  input_html: {  } do  |f|
    .row
      .col-lg-6
        .form-group
          = f.input :name, placeholder: "Full Name", label: false 
      .col-lg-6
        .form-group
          = f.input :email, placeholder: "Email", label: false
      .col-lg-6
        .form-group
          = f.input :phone, placeholder: "123-456-7890", label: false
      .col-lg-6
        .form-group
          = f.input :subject, placeholder: "Subject", label: false
      .col-12
        .form-group
          = f.input :message, placeholder: "Your Message", :input_html => { 'rows' => 5, 'cols' => 130 }, label: false, :as => :text  
          //= p.input :active,  as: :boolean, checked_value: true, unchecked_value: false, label: "do you wnat to subscribe our Newsletter?", class: "checkbox-inline{:for=>'2'}"
      .col-lg-12
        .form-group.login-btn
          = f.submit "Send", class: "btn btn-primary" 
      .col-12
        .form-group


