= render partial: "/layouts/admin_menu" 

-if user_signed_in? && current_user[:role]=="admin"  
  %section.doctor-calendar-area.section
    .container
      .row
        .col-lg-12
          .section-title.tpadding-2
            %h2 Contact Us
            %img{src: "/assets/section-img.png", alt: "#"}
      .row
        .col-lg-12
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Full Name
                  %th Phone
                  %th Email
                  %th Subject
                  %th Created At
                  %th Action
              %tbody
                - @contact_list.each do |a|
                  %tr
                    %td
                      = link_to a.name, edit_contact_path(a)
                    %td
                      = a.phone
                    %td
                      = a.email
                    %td
                      = a.subject.html_safe
                    %td
                      = a.updated_at.strftime("%m/%d/%Y")
                    %td
                      = link_to "Show",contact_path(a)
                    %td
                      = button_to "Delete", contact_path(a), form: {data: {turbo_confirm: "Are you sure to delete?"}}, method: :delete

