= render partial: "/layouts/admin_menu" 
= will_paginate @subscription_list, renderer: BootstrapPagination::Rails  

-if user_signed_in? && current_user[:role]=="admin"  
  %section.register.section
    .container
      .row
        .col-lg-12
          .section-title.tpadding-2
            %h2
              Subscriptions
      .row
        .col-lg-12
          .doctor-calendar-table.table-responsive
            %table.table
              %thead
                %tr
                  %th Email
                  %th Date Created
                  %th Action
              %tbody
                - @subscription_list.each do |a|
                  %tr{:id => "subscription_list#{a.id}"}
                    %td
                      = link_to a.email, edit_subscription_path(a)
                    %td
                      = a.created_at.strftime("%m/%d/%Y") 
                    %td
                      = link_to "Inactive", edit_subscription_path(a), class: "btn btn-danger"
                      |
                      = button_to "Delete", subscription_path(a), method: :delete, form: {data: {turbo_confirm: "Are you sure to delete?"}}

