.container
  = simple_form_for product,  html: { class: "form-horizontal center"},  input_html: {  } do  |f|
    .row
      .col-lg-6
        .form-group
          = f.input :name, placeholder: "Name", lable: false
      .col-lg-6
        .form-group
          = f.input :sku, placeholder: "Sku #", label: 'Sku #'
      .col-lg-6
        .form-group
          Category: 
          = f.input:categories, collection: Category.is_product, label: false, prompt: "select a category", label: false
      .col-lg-6
        .form-group
          Brand: 
          = f.input :brand, collection: Product::BRAND_LIST, prompt: "Select a Brand", label: false
      .col-lg-6
        .form-group
          = f.input :price_1, placeholder: "Price", label: 'Price'
        .form-group
          = f.input :price_2, placeholder: "Sales Price", label: 'Sales Price'
        .form-group
          = f.input :sale, placeholder: "Sales %", label: 'Sales %'
      .col-lg-6
        .form-group
          = f.input :img_1, placeholder: "Image", label: 'Image'
        .form-group
          = f.input :img_2, placeholder: "Image", label: 'Image'
      .col-lg-6
        .form-group
          = f.input :usage, placeholder: "Usage", label: 'Usage',:input_html => {:rows => 2}
      .col-lg-6
        .form-group
          = f.input :ingredient, placeholder: "Ingredient", label: 'Ingredient',:input_html => {:rows => 2}
      .col-lg-6
        .form-group
          = f.input :dosage, placeholder: "Dosage", label: 'Dosage',:input_html => {:rows => 2}
      .col-lg-6
        .form-group
          = f.input :desc_1, placeholder: "Short Description", label: 'Short Description',:input_html => {:rows => 4}
      .col-lg-12
        .form-group
          = f.input :desc_2, placeholder: "Description", label: 'Description',:input_html => {:rows => 5}
        .form-group
          = f.input :active,  as: :boolean, checked_value: true, unchecked_value: false, label: "Active"
        
      .col-lg-12
        .form-group
          = f.submit "Submit", class: "btn btn-info"
