= render partial: "/layouts/admin_menu" 
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Products 
          %img{src: "/assets/section-img.png", alt: "#"}

    .row
      .col-lg-12
        = link_to "Add new product", new_product_path, class: "btn btn-info"
      .col-lg-12
        %table#article.table.table-hover.table-striped.table-responsive
          %tbody
            %tr
              %td
                Name
              %td
                Sku
              %td
                Brand
              %td
                Category
              %td
                Price
              %td
                Sale Price
              %td
                Created at 
              %td
                Actions
            - @products.each do |a|
              %tr.b-0.border-top{:id => "product#{a.id}"}
                %td.b-0
                  = link_to a.name, edit_product_path(a)
                %td.b-0
                  = link_to a.sku, edit_product_path(a)
                %td.b-0
                  = Product.getBrand(a.brand)
                %td.b-0
                  - a.categories.each do |b|
                    = b.name
                  
                %td.b-0
                  = link_to a.price_1, edit_product_path(a)
                %td.b-0
                  = link_to a.price_2, edit_product_path(a)
                %td.b-0
                  = a.updated_at.strftime("%m/%d/%Y")
                - if current_user.try(:admin?)
                  %td.b-0
                    = link_to "Show",product_path(a)
                    |
                    = link_to "Edit", edit_product_path(a)
                    |
                    = button_to "Delete", product_path(a), :method => :DELETE, data: {turbo_confirm: "Are you sure to delete?"}
    .row
      .col-lg-12
        .pagination
          %ul.pagination-list
            = will_paginate @pt_resource, renderer: BootstrapPagination::Rails  
