= render partial: "/layouts/admin_menu" 
%section.services.section
  .container
    .row
      .col-lg-12
        .section-title.tpadding-2
          %h2
            Products 
          %img{src: "/assets/section-img.png", alt: "#"}

    .row
      .col-lg-12
        = link_to "go back to list",'javascript:history.back()', class: "btn btn-outline-secondary btn-sm"
    .row
      .col-lg-6.col-md-6.col-12
        %h3 
          = @product.name
        %img.grid-2.img9.card-img{:alt => "service", :src => "#{ENV['IMG_PATH']}products/" +  @product.img_1}
          = @product.desc_1.html_safe
