.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Life and Nature Holistic Medicine provides practical, natural solutions for multiple areas of autoimmnue disorders.
      %br
      %br
      Below are just a few of the more common issues we help patients with. Please call the office and let's discuss your symptoms and explore how we can help.

      %br
      %br
    %h2.is-5.has-text-justified
      Common Symptoms of autoimmune disease include:
      %br
      %br
      %li Fatigue
      %li Joint pain and swelling
      %li Skin problems
      %li Abdominal pain or digestive issues
      %li Recurring low grade fever
      %li Swollen glands

    .dez-separator.style-liner 
.container
  .row
    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-thyroid1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Thyroidism
        %p.is-6
          Hashimoto thyroiditis, Hypo, hyperthyroidsm

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-bone.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          arthritis
        %p.is-6
          Rheumatoid arthritis

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-fatigue.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          ME/CFS, 
        %p.is-6
          Myalgic Encephalomyelitis/Chronic Fatigue Syndrome, Fibromyalgia

  .row          
    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-colon.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          IBD
        %p.is-6
          Inflammatory bowel disease (Crohn's Disease, Ulcerative colitis)

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Skin Disorders
        %p.is-6
          Dermatomyositis, Psoriasis/psoriatic arthritis,

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.pupple-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-als1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          MS, SLE, ALS
        %p.is-6
          Multiple sclerosis, Systemic lupus erythematosus(SLE), Amyotrophic Lateral Sclerosis

  .dez-separator.style-liner
  = render partial: "/layouts/review-pics" 

