.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      It is not too much to say that all problems start in the gut. The digestive system is not only responsible for the body's immunity, emotions, and nutrient supply, but also has a profound effect on all organs of the body directly and indirectly, as well as the body's metabolic, hormonal, and endocrine functions. 
      %br
      %br
      Ignoring the problem or continuing to rely on the drug for a long time is not the solution and that can creates secondary problems. 
      We have been helping people with our natural, holistic approach. This is trustworthy and safe.  
      %br
      %br
  .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-gerd3.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          GERD
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-stomach2.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Bloating, Indigestion
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-colon1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          IBS
        %p.is-6


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-vomit.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Nausea & Vomiting
        %p.is-6

  .row

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-scale.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Weight gain or Loss 
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-abdomin1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Abdominal Pain
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-autoimmune.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Autoimmune Disorder
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.gi-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-more1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          And more 
        %p.is-6


