.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Life and Nature Holistic Medicine provides practical, natural solutions for multiple areas of men's health.
      %br
      %br
      Below are just a few of the more common issues we help patients with. Please call the office and let's discuss your symptoms and explore how we can help.
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br

  .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-mood-depression.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Emotional Disorders
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-scale.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Detox & Balanced Weight  
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-stomach.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          GI Issues
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-cardio.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          CARDIOVASCULAR CONDITIONS
        %p.is-6

  .row
    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-spine.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          MUSCULOSKELETAL CONDITIONS
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-cancer2.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Oncology Supportive Care
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-diabete.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Diabetic Supportive Care
        %p.is-6

    .grid-4.has-text-centered
      %span.ico-container.neuro-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-brain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Neurological Disorders
        %p.is-6
          
