.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.is-5
      Life and Nature Holistic Medicine provides practical, natural solutions for multiple areas of neurological health.
      %br
      %br
      Below are just a few of the more common issues we help patients with. Please call the office and let's discuss your symptoms and explore how we can help.

      %br
      %br
  .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-walker.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Poststroke
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pakinson.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Pakinson
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-facialpain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Facial Numbness, paralysis, pain
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-brain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Dementia, Memory loss
        %p.is-6
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-ha.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Migrain, Headache
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-fatigue.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Chronic Fatigue, fibromyalgia
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-footpain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Neuropathy
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.neuro-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-brain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Dementia, Memory loss
        %p.is-6
      
