.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.is-5
      %p 
        Acute pain begins suddenly and is usually sharp in quality. It serves as a warning of disease or a threat to the body. Acute pain might be caused by many events or circumstances.
      %p Including: Surgical Pain, Traumatic Pain, Car accident, Sport injury, Infections, Stones in organs.
      %br
      %p 
        Chronic pain is pain lasting longer than three months or past the time of normal tissue healing. Physical effects include tense muscles, limited mobility, a lack of energy, and changes in appetite. Emotional effects include depression, anxiety, anger, and fear of re-injury. There are several different types of pain which may result in chronic pain. Chronic pain is a common complaint in older adults. A person may have more than one chronic pain condition at a time.
      %br
      %br

.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.pain-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-pi.png"}
      .grid.is-margin-top-1
        %p.is-5
          PERSIONAL INJURIES
        %p.is-6
          Auto Accidents, Falls, Work Injures, Sports Injuries


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.pain-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-spine.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Musculoskeletal Pain
        %p.is-6
          Back pain, Frozen Shoulder, Sciatica, Neck pain, Pain on the joints, Tennis Elbow, Golf Elbow, TMJ

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.pain-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-neuro.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Neuropathic Pain
        %p.is-6
          Diabetic Neuropathy, Diabetic Neuropathy, Peripheral Neuropathy, Central Neuropathy


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.pain-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-ha.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Headaches
        %p.is-6
          Migaraine, Tension Headache, PMS Headache, Trigeminal autonomic cephalalgia, Cluster Headache and ect. 
  .dez-separator.style-liner 
  = render partial: "/layouts/review" ,:reviews => @reviews

      
