.grid_100.has-text-justified.is-margin-top-2
  .container
    %h3.is-5
      %p 
        We have seen many patients who have given up on conventional medicine recover with natural healing and return to a normal, pain-free life.
        If you have been suffering for a long time and many treatments have not worked very well, please contact us.
      %br 
        Maybe we can help.
      %br

.container
  .row
    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-pi.png"}
      .grid.is-margin-top-1
        %p.is-5
          PERSIONAL INJURIES
        %p.is-6
          Auto Accidents, Falls, Work Injures, Sports Injuries


    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-spine.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Musculoskeletal Pain
        %p.is-6
          Back pain, Frozen Shoulder, Sciatica, Neck pain, Pain on the joints, Tennis Elbow, Golf Elbow, TMJ

    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-neuro.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Neuropathic Pain
        %p.is-6
          Diabetic Neuropathy, Diabetic Neuropathy, Peripheral Neuropathy, Central Neuropathy


    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-ha.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Headaches
        %p.is-6
          Migaraine, Tension Headache, PMS Headache, Trigeminal autonomic cephalalgia, Cluster Headache and ect. 
  .row
    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-pain-abdomin.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Abdominal Pain
        %p.is-6
          IBS, Gerd, Constipation, Colitis, Diverticulitis...

    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-autoimmune.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Autoimmune Disorder
        %p.is-6
          Fibromyalgia, Lupus, Rheumatoid Arthritis...


    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-cancer.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Cancer Pain
        %p.is-6
          Side effects from chemo and radiation therapy

    .grid-4.has-text-centered
      %span.ico-container.pain-ico-bg
        %img.ico-style{:src => "#{ENV['IMG_PATH']}ico-more1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          And More
        %p.is-6
          Unexplained pain, Something else...




  .dez-separator.style-liner 
  = render partial: "/layouts/review" ,:reviews => @reviews


      
