.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Seizures, Epilepsy, Asthma, Allergies, Sinus problems, Congestions, Autisms, Sinusitis, Runny Nose, Skin Conditions, Wheezing, Flu, Bed-wetting, Autism Spectrum Disorder (ASD), ADHD, Frequent Illness, Bed-wetting, Delayed- growth, Urinary incontinence 
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br
  .dez-separator.style-liner 

.container.has-text-centered
  .row
    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-flu1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Cold, flues and immune support
        %p.is-6

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-slowgrowth1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Slow growth
        %p.is-6

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-obesity.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          children obesity
        %p.is-6


  .row          
    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-skinissue3.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Skin Issues
        %p.is-6

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-mentalhealth.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Children Mental Health
        %p.is-6

    .grid-3.has-text-centered
      %span.feature-block-4-img-container.kids-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-more1.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          And more
        %p.is-6


