.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Life and Nature helps our patients overcome and cope with a wide variety of health concerns. Below are some of the more common issues we assist people with.

      %br
      %br
      .dez-separator.style-liner 
.container
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-women-pms.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          PMS Symptoms
        %p.is-6
          Pain,
          Tension or anxiety,
          Depressed mood,
          Crying spells,
          Mood swings and irritability or anger,
          Appetite changes,
          Insomnia,
          Poor concentration,

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-scale.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Detox & Balanced Weight  
        %p.is-6
          Over or Under Weight, Fatigue, GI Issues, Pain, Frequent Sickness and more...

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-women-meno.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Menopause Symptoms
        %p.is-6
          Vaginal dryness,
          Hot flashes,
          Chills,
          Night sweats,
          Sleep problems,
          Mood changes,
          Weight gain,
          Pain and more...


    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-hormone-x.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Hormon Balance
        %p.is-6
          irregular Periods, PCOS, Infertility, Irregular periods, Loss of hairs
  
  .row
    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-pain-spine.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          MUSCULOSKELETAL CONDITIONS
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-cancer2.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Oncology Supportive Care
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-diabete.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Diabetic Supportive Care
        %p.is-6

    .grid-4.has-text-centered
      %span.feature-block-4-img-container.women-ico-bg
        %img.feature-block-style-4{:src => "#{ENV['IMG_PATH']}ico-brain.png"}
      .grid.is-margin-top-1
        %p.is-5.upper
          Neurological Disorders
        %p.is-6
 
