-if user_signed_in? && current_user[:role]=="admin"  
  %section.register.section
    .container
      .row
        .col-lg-8
          = link_to "Users", users_path, class: "btn btn-info"
          = link_to "Blogs", pt_resources_path, class: "btn btn-info"
          = link_to "FAQ", questions_and_answers_path, class: "btn btn-info"
          = link_to "Products", products_path, class: "btn btn-info"
          = link_to "Categories", categories_path, class: "btn btn-info"
        .col-lg-4
          .register-right
            You are logged in as 
            = current_user[:fullname]  +' /'+ current_user[:role]  
            %br
            = link_to "Log out", destroy_user_session_path, method: :delete
