-if user_signed_in? && current_user[:role]=="admin"  
  %section.register.section
    .container
      .row
        .col-lg-12
          You are logged in as 
          = current_user[:fullname]  +' | Role: '+ current_user[:role]
          |
          = button_to ">> Log Out", destroy_user_session_path, method: :delete, data:{ confirm: "Are you sure?" } 
        .col-lg-12
          %h6.tpadding-2 
            = link_to "Users", users_path
            |
            = link_to "Blogs", pt_resources_path
            |
            = link_to "FAQ", questions_and_answers_path
            |
            = link_to "Contact", contacts_path
            |
            = link_to "Subscriptions", subscriptions_path
            |
            = link_to "Products", products_path
            |
            = link_to "Categories", categories_path
            |
            = link_to "Diagno_Questions", diagno_questions_path
            |
            = link_to "Diagno_Answers", dgns_answers_path
          
