- if params[:menu_values]
  - if @menu_values['id']  == 201
    .breadcrumbs.title_201
      = render partial: "/layouts/breadcrumb_body" 
  - if @menu_values['id']  == 202
    .breadcrumbs.title_202
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 203
    .breadcrumbs.title_203
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 205
    .breadcrumbs.title_205
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==206 
    .breadcrumbs.title_206
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 207
    .breadcrumbs.title_207
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==208 
    .breadcrumbs.title_208
      = render partial: "/layouts/breadcrumb_body" 



  - if @menu_values['id']  ==301 
    .breadcrumbs.title_301
      = render partial: "/layouts/breadcrumb_body" 
  - if @menu_values['id']  ==302 
    .breadcrumbs.title_302
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==303 
    .breadcrumbs.title_303
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==304 
    .breadcrumbs.title_304
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==305 
    .breadcrumbs.title_305
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==307 
    .breadcrumbs.title_307
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==308 
    .breadcrumbs.title_308
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==309 
    .breadcrumbs.title_309
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  ==310 
    .breadcrumbs.title_310
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 400 
    .breadcrumbs.title_400
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 500 
    .breadcrumbs.title_500
      = render partial: "/layouts/breadcrumb_body" 


  - if @menu_values['id']  == 600 
    .breadcrumbs.title_600
      = render partial: "/layouts/breadcrumb_body" 


  - if @menu_values['id']  == 701  or @menu_values['id']  == 702 or @menu_values['id']  == 703 or  @menu_values['id']  == 704
    .breadcrumbs.title_702
      = render partial: "/layouts/breadcrumb_body" 


  - if @menu_values['id']  == 800 
    .breadcrumbs.title_800
      = render partial: "/layouts/breadcrumb_body" 

  - if @menu_values['id']  == 1000 
    .breadcrumbs.title_201
      = render partial: "/layouts/breadcrumb_body" 

- else
  .breadcrumbs.title_201
    = render partial: "/layouts/breadcrumb_body" 
 
