.grid
  %h3.title.is-3.has-text-centered.is-margin-top-1
    What Our Patients Are Saying
    %br
    %br
.container.has-text-centered
  .row
    .grid-3-2.pad-rt
      = render partial: "/layouts/testimony_youtube" 
      %br
      %br
      %h3.is-5.has-text-justified
        = @reviews["note"].html_safe
    .grid-3
      .mycard
        .grid_90
          %h3.is-4
            %i
              = @reviews["title"].html_safe
            %br
            %br
          %h3.is-6.review-text.has-text-justified    
            = @reviews["review"].html_safe
          .grid_90.has-text-centered
            .review-stars
              %span
                %span.fa.fa-star
                %span.fa.fa-star
                %span.fa.fa-star
                %span.fa.fa-star
                %span.fa.fa-star

                %h3.is-6
                  = @reviews['reviewer']
                %span
                  /%i.icon.fas.fa-check-circle

