<!DOCTYPE html>
<html>
  <head>
    <title>Life & Nature Natural Health Care and Holistic Medicine</title>
    <link rel="canonical" href="https://www.life-and-nature.com" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <!--%= csp_meta_tag %-->

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>

    <!--%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %-->
    <!--%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %-->
    <%= render partial: "/layouts/metatag" %>
    <%= render partial: "/layouts/script" %>

    <% if current_page?(root_url) %> 
      <%= render partial: "/layouts/home_sliderJS" %>
    <% end %> 
  </head>

  <body>
    <% if request.path.include?('blogs')  %> 
      <%= yield %>
      <%= render partial: "/layouts/footer" %>
    <% else %>
      <%= render partial: "/layouts/dropdown" %>
      <% if not current_page?(root_url) || params['menu_values'] == '1000' || request.path.include?('landings') %> 
        <%= render partial: '/layouts/breadcrumb', :local => {:menues => @menu_values}  %>
      <% end %>
      <%= yield %>
      <%= render partial: "/layouts/footer" %>
    <% end %>
  </body>
  <%= render partial: "/layouts/JSscript" %>
</html>
